{{ define "main" }}
{{ if eq .Params.layout "img-left-plus-right" }}
{{partial "img-left-plus-right.html" .}}
{{ else }}
{{/* Default layout */}}
<article class="cf ph3 ph5-l pv3 pv4-l f4-5 tc-l center measure-wide lh-copy {{ $.Param " text_color" | default "dark-gray" }}">
    {{ .Content }}
</article>
{{ end }}

<div class="center mt2 tc f4 f5-ns fw4 pt4-ns ph5-ns lh-title" style="color:{{ $.Param " middle_title_color_code" | default "#555555" }};">
    {{ .Params.final_message }}
</div>

{{ if .Site.Params.footerContactButton }}
<div class="tc pt4">
    <a class="f6 link w-20 w-30-m w-50-ns dim br2 ph3 pv2 dib white"
       style="background-color:{{ $.Param " middle_title_color_code" | default "#555555" }};" href="{{
    .Site.Params.footerContactButtonPath }}">
    {{ .Site.Params.footerContactButton }}
    </a>
</div>
{{ end }}
{{ end }}
